<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>D3 Infographics 1</title>
        <link rel="stylesheet" href="<?php echo base_url();?>css/infographic.css"/>
        <script type="text/javascript" src="<?php echo base_url();?>js/d3/d3.js"></script>
        <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo base_url();?>js/progress.js"></script>
    </head>

    <body>

        <div id='outer'>
            <div id="main">
                <div id="aBox">
                    <div id="div1"></div>
                    <div id="subdiv1" class="hide rings"></div>
                    <div id="subdiv2" class="hide rings subRing2"></div>
                    <div id="subdiv3" class="hide rings subRing3"></div>
                    <div id="subdiv4" class="hide rings subRing4"></div>
                </div>
                    
                <div id="aaBox">
                    <div id="div2"></div>
                    <div id="subdiv5" class="hide rings"></div>
                    <div id="subdiv6" class="hide rings subRing2"></div>
                    <div id="subdiv7" class="hide rings subRing3"></div>
                    <div id="subdiv8" class="hide rings subRing4"></div>
                </div>

                <div id="aaaBox">
                    <div id="div3"></div>
                    <div id="subdiv9" class="hide rings"></div>
                    <div id="subdiv10" class="hide rings subRing2"></div>
                    <div id="subdiv11" class="hide rings subRing3"></div>
                    <div id="subdiv12" class="hide rings subRing4"></div>
                </div>
            </div>
        </div>
   

    <script src="<?php echo base_url();?>js/main.js"></script>
</body>
</html> 